*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face {
    font-family: 'Futura';
    src: url('../public/fonts/FuturaBookBT.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Futura-Black';
    src: url('../public/fonts/Junior.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Futura Bk BT';
    src: url('../public/fonts/FuturaBookBT.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Futura Bk BT';
    src: url('../public/fonts/FuturaBookBT.ttf');
    font-style: normal;
    font-weight: 400;
}
body, html{
    width: 100%;
    height: 100%;
}
body{
    background: #000;
    color: white;
    font-family: 'Futura';
}
.wrapper {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
header{
    position: relative;
    height: 100px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
nav{
    cursor: pointer;
}
nav::after{
    content: '';
    background-image: url('../public/images/icon-category.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 24px;
    display: block;
}
nav > ul{
    display: none;
}
.header-logo {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-logo > img{
    width: 100%;
}
.header__account-menu {
    display: flex;
    gap: 40px;
}
.account-menu__item > img{
    width: 100%;
}
.main {
    position: relative;
}
.main::before{
    content: "AIR JORDAN 1 RETRO HIGH OG DUNK HIGH";
    font-size: 128px;
    font-family: Futura-Black;
    font-style: normal;
    font-weight: 700;
    line-height: 128px;
    color: #191919;

    background-image: linear-gradient(to bottom, #191919, #19191900);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    position: absolute;
    z-index: 1;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);

    width: 1280px;  
}
.change-color {
    position: absolute;
    z-index: 8;
}
.change-color__item {
}
.main-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    z-index: 10;
}
.main-img {
}
.main-information {
}
.main-title {
}
.main-price {
}
.main-size {
}
.main-button {
}
.btn {
}